{%- set websiteLink = pageData.websiteLink + pagePath -%}
{%- set description = pageData.description | trim | replace('\n', ' ') -%}

{%- set pageTitle = pageData.title or pageData.name or (pageName | title) -%}
{%- if pageTitle !== pageDataStatic.name -%}
  {%- set pageTitle = pageTitle + ' | ' + pageDataStatic.name -%}
{%- endif -%}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
<meta name="theme-color" content="#17469E">
<meta name="author" content="Malus">
{%- if description %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
{%- endif %}
{%- if pageTitle !== pageDataStatic.name %}
<meta property="og:site_name" content="{{ pageDataStatic.name }}">
{%- endif %}
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:url" content="{{ websiteLink }}">
<meta property="og:type" content="website">
{%- if pageData.image and r/[\w-]+\.\w+$/.test(pageData.image) %}
<meta property="og:image" content="{{ pageData.image }}">
  {%- if pageData.imageSize %}
<meta property="og:image:width" content="{{ pageData.imageSize.width }}">
<meta property="og:image:height" content="{{ pageData.imageSize.height }}">
  {%- endif %}
{%- endif %}
<meta property="og:image" content="/image/Avatar.webp">
{#- NOTE: Update this when changing the avatar image! #}
<meta property="og:image:width" content="1225">
<meta property="og:image:height" content="1225">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<title>{{ pageTitle }}</title>
<script src="/script/global.js"{{ ' data-has-theme' if pageData.hasLightMode }}></script>
<link rel="stylesheet" href="/style/global.css">
