<footer id="footer">
  <div class="nav-wrapper">
    <div class="nav-item">
      <div class="item-wrapper">
        <h3>Source</h3>
        <ul>
          {%- for name, link in pageDataStatic.sources -%}
            <li><a href="{{ link }}">{{ name }} on {{ 'GitLab' if link.includes('gitlab') else 'GitHub' }}</a></li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="nav-item">
      <div class="item-wrapper">
        <h3>Quick nav</h3>
        <ul>
          <li><a href="/">Home</a></li>
          {%- for childLink, childProps in pageDataStatic.children -%}
            {%- if not childProps.footerHidden -%}
              <li><a href="{{ '/' + childLink }}">{{ childProps.name or (childLink | title) }}</a></li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
    <div class="nav-item">
      <div class="item-wrapper">
        <h3>Contact</h3>
        <ul>
          <li><a href="https://github.com/Maluscat">GitHub</a></li>
          <li><a href="https://gitlab.com/Maluscat">GitLab</a></li>
          <li><a href="mailto:maluscat@proton.me">Mail</a></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <p class="side-note"><em>Licensed under the <a href="https://gitlab.com/Maluscat/malus.zone/-/blob/main/LICENSE">MIT license</a></em></p>
</footer>
