<div id="navbar">
  <nav class="text">
    <a href="/" class="root-link">
      <img src="/image/Avatar.webp" alt="Malus' logo">
      <span class="name">{{ pageDataStatic.name }}</span>
    </a>
    {%- if pagePath !== '' -%}
      {%- set partialPath = '/' -%}
      {%- set dataEntry = pageDataStatic -%}
      {%- for view in pagePath.split('/') -%}
        {# In case of unexpected behavior or error: Apply regex to `pagePath` #}
        {%- set dataEntry = dataEntry.children[view] -%}
        {%- set partialPath = partialPath + view + ('' if loop.last else '/') -%}
        {%- if dataEntry and (not dataEntry.ignoreBreadcrumbs or loop.last) -%}
          <span class="arrow">></span>
          {{- '<h1>' | safe if pageData.useNavBarH1 and loop.last -}}
          <a href="{{ partialPath }}" class="item">{{ dataEntry.name or (view | title) }}</a>
          {{- '</h1>' | safe if pageData.useNavBarH1 and loop.last -}}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </nav>
  {%- if navContent %}
    {{ navContent | safe }}
  {%- endif %}
  {%- if pageData.hasLightMode %}
    {% include './theme-toggle.njk' %}
  {%- endif %}
</div>
