<aside id="theme-toggle">
  <button type="button" class="theme-toggle-btn" aria-label="Switch between dark and light mode" tabindex="1">
    {% include './svg/sun.svg' %}
    {% include './svg/moon.svg' %}
  </button>
</aside>
