// out: ../global.css

@import (reference) 'vars';

/* Inter by Rasmus Andersson @ https://rsms.me/inter/ */
@font-face {
  font-family: 'Inter';
  font-weight: normal;
  font-display: swap;
  src:
    local('Inter'),
    local('Inter Regular'),
    local('Inter-Regular'),
    url('/font/Inter/Inter-Regular.woff2') format('woff2'),
    url('/font/Inter/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: bold;
  font-display: swap;
  src:
    local('Inter Bold'),
    local('Inter-Bold'),
    url('/font/Inter/Inter-Bold.woff2') format('woff2'),
    url('/font/Inter/Inter-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-display: swap;
  src:
    local('Inter Light'),
    local('Inter-Light'),
    url('/font/Inter/Inter-Light.woff2') format('woff2'),
    url('/font/Inter/Inter-Light.woff') format('woff');
}


html {
  scrollbar-color: @scrollbar-thumb @scrollbar-track;
  &.light-mode {
    scrollbar-color: auto;
  }

  font-size: calc(0.08vw + 0.04vh + 16.05px);
  @media (max-width: 960px) {
    font-size: calc(0.4vw + 0.1vh + 12.55px);
  }
}

body {
  margin: 0;
  background-color: @main-bg;
  color: @main-color;
  font-family: 'Inter', 'Roboto', 'San Francisco', 'Segoe UI', 'Arial', sans-serif;
  .mode-transition.background();
  html.light-mode & {
    color: @main-color--lt;
    background-color: transparent;
  }
}

.focus({
  outline: @focus-width solid @focus-color;
}, {
  outline: none;
});

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: .4em;
  font-size: 1.7rem;
  background-color: @navbar-bg;
  color: @navbar;
  box-sizing: border-box;
  .mode-transition.background();
  .mode-transition.color();
  a {
    color: inherit;
    text-decoration: none;
  }
  .text {
    display: flex;
    align-items: center;
    h1 {
      font-size: inherit;
      font-weight: normal;
      margin: 0;
    }
    .root-link {
      display: flex;
      align-items: center;
    }
    img {
      width: 1.9em;
      height: 1.9em;
      border-radius: 100%;
      margin-right: .3em;
    }
    .name {
      font-weight: bold;
    }
    .arrow {
      font-family: 'Source Code Pro', 'Consolas', monospace;
      padding: 0 .3em;
      font-weight: 500;
      .noselect();
    }
  }

  html.light-mode & {
    background-color: @navbar-bg--lt;
    color: @navbar--lt;
  }
}

#theme-toggle {
  #navbar & {
    margin-right: .2em;
  }

  @baseTransition: .325s;
  @rotateAmount: 33.75deg;
  .theme-toggle-btn {
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    > svg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: all @baseTransition ease;
      > * {
        transition: all .15s ease;
      }
    }
    .icon-sun {
      // Color must be specified explicitly for the animation to work properly
      color: @main-color;
      circle {
        transform-origin: 12px 12px;
      }
      rect {
        transition-delay: .033s;
      }
    }
    .icon-moon {
      color: @main-color--lt;
      .base {
        transform-origin: 6.8px 12px;
      }
      .star-1 {
        transform-origin: 15px 11px;
        transition-delay: .06s;
      }
      .star-2 {
        transform-origin: 22px 11px;
        transition-delay: .0665s;
      }
      .star-3 {
        transform-origin: 19px 5px;
        transition-delay: .073s;
      }
    }
  }
  // Inverse mode
  html.light-mode & .theme-toggle-btn .icon-sun,
  html:not(.light-mode) & .theme-toggle-btn .icon-moon {
    transform: rotate(-@rotateAmount);
    visibility: hidden;
    z-index: -1;
  }
  // Corresponding mode
  html.light-mode & .theme-toggle-btn .icon-moon,
  html:not(.light-mode) & .theme-toggle-btn .icon-sun {
    animation: @baseTransition iconPositiveRotate ease;
  }
  // Only dark mode
  html:not(.light-mode) & .theme-toggle-btn {
    .icon-moon {
      .base, .star {
        transform: scale(0);
      }
      .star {
        transition-delay: 0s;
      }
    }
  }
  // Only light mode
  html.light-mode & .theme-toggle-btn {
    .icon-sun {
      circle {
        transform: scale(0);
        transition-delay: .0325s;
      }
      rect {
        height: 0;
        transition-delay: 0s;
      }
    }
  }

  @keyframes iconPositiveRotate {
    from {
      transform: rotate(@rotateAmount);
    }
  }
}


#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 1em 0;
  background-color: @footer-bg;
  color: @main-color;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60em;
    margin-bottom: 1em;
    .nav-item {
      flex: 1;
      display: flex;
      justify-content: center;
      .nav-item-in(3);
      .nav-item-in(@amount, @duration: .45s, @it: 1) when (@it < @amount + 1) {
        &:nth-child(@{it}) {
          animation: @duration navItemIn cubic-bezier(.4, .1, .5, 1);
        }
        .nav-item-in(@amount, @duration + .08s, @it + 1);
      }
      @keyframes navItemIn {
        from {
          transform: translateX(-1.25em);
          opacity: .15;
        }
      }
      &:nth-child(1) a::before {
        left: 100%;
      }
      &:nth-child(3) a::before {
        left: 0;
      }
    }
    h3 {
      font-size: 1.12em;
      margin: .75em 0;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin: .52em 0;
        color: @footer-list-item;
        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
      }
      a {
        white-space: nowrap;
      }
    }
  }
  hr {
    width: 5.5em;
    margin: .3em 0;
    border: 1px solid @footer-hr;
    animation: .4s borderIn cubic-bezier(.55, .05, .5, .95);
    @keyframes borderIn {
      from {
        width: 3.5em;
        opacity: .25;
      }
    }
  }
  .side-note {
    font-size: .9em;
    font-weight: 300;
    color: @footer-sidenote;
    animation: .4s sideNoteIn ease-in;
    @keyframes sideNoteIn {
      from {
        opacity: .1;
      }
    }
    em {
      font-style: normal;
    }
  }
  a {
    position: relative;
    text-decoration: none;
    padding: 0 0 .2em;
    color: inherit;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 0;
      border-bottom: 1px solid @footer-list-item;
      transition: all .225s ease;
    }
    &:hover::before {
      left: 0 !important;
      width: 100%;
    }
  }

  html.light-mode & {
    background-color: @footer-bg--lt;
    color: @footer-color--lt;
    .nav-wrapper ul li {
      color: @footer-list-item--lt;
    }
    hr {
      border-color: @footer-hr--lt;
    }
    .side-note {
      color: @footer-sidenote--lt;
    }
    a::before {
      border-bottom-color: @footer-list-item--lt;
    }
  }

  @media (max-width: 700px) {
    padding: 1em .5em;
    .nav-wrapper {
      flex-flow: column;
      .nav-item:not(:nth-last-of-type(1)) {
        margin-bottom: 0.3em;
      }
      .nav-item:nth-last-of-type(1) {
        ul li {
          margin-bottom: 0 !important;
        }
      }
      h3 {
        text-align: center;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: .52em .5em !important;
        }
      }
    }
    hr {
      width: 4.5em;
    }
  }
}
