// main: global.less

// --- Colors ---
@theme-color: #17469E;

@focus-width: 3px;
@focus-color: #1960C9;


// Dark mode
@main-bg: hsl(0, 0%, 8%);
@main-color: hsl(0, 0%, 95%);

@scrollbar-thumb: lighten(@main-bg, 35%);
@scrollbar-track: lighten(@main-bg, 6%);

@navbar: lighten(@navbar-bg, 75%);
@navbar-bg: darken(@main-bg, 4.5%);

@footer-bg: darken(@main-bg, 3.5%);
@footer-list-item: darken(@main-color, 10%);
@footer-sidenote: darken(@main-color, 15%);
@footer-hr: darken(@main-color, 53%);


// Light mode
@main-color--lt: black;
@main-bg--lt: hsl(0, 0%, 100%);

@navbar--lt: darken(@navbar-bg--lt, 75%);
@navbar-bg--lt: darken(@main-bg--lt, 3%);

@footer-color--lt: white;
@footer-bg--lt: hsl(0, 0%, 19%);
@footer-list-item--lt: darken(@footer-color--lt, 10%);
@footer-sidenote--lt: darken(@footer-color--lt, 15%);
@footer-hr--lt: darken(@footer-color--lt, 53%);


// --- Mixins ---
.noselect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.focus(@active-ruleset, @disabled-ruleset) {
  &:focus {
    @active-ruleset();
  }
  @supports selector(:focus-visible) or selector(:-moz-focusring) {
    &:focus {
      @disabled-ruleset();
    }
  }
  // NOTE: If one of multiple comma-separated pseudo-classes is unknown to the browser, the whole selector fails
  &:-moz-focusring {
    @active-ruleset();
  }
  &:focus-visible {
    @active-ruleset();
  }
}

.mode-transition() {
  .background() {
    transition+: background .15s linear;
  }
  .shadow() {
    transition+: box-shadow .15s linear;
  }
  .color() {
    transition+: color .15s linear;
  }
  .textshadow() {
    transition+: text-shadow .15s linear;
  }
  .border() {
    transition+: border .15s linear;
  }
}
